.news {

  margin: 0 0 2em 2em;
  width: 20%;
  display: inline-block;
  padding: 2px 16px;
  box-shadow: 0 8px 16px 0  rgba(0, 51, 102, 0.2);
  transition: 0.2s;
  border-radius: 5px;
  background-color: var(--vibrate-e-color);

}

.news .nome_produto {
  align-self: center;
  font-weight: bold;
}

.news .info {
  color: blue;
  float: right;
}

.news .source {
  color: var(--vibrate-c-color);
  float: left;
  font-weight: bold;
}

.news .pub_date {
  color: var(--vibrate-c-color);
  float: right;
}

.news:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 51, 102, 1);
}

.news .image {
  width: 100%;
}

.news a:hover{
  background-color: var(--vibrate-e-color);
  
}

.news a:link  {
  color: var(--vibrate-c-color);
}

.news a:visited {
  color: var(--vibrate-f-color);
}

