<div class="welcome-container">
  <div class="welcome-card-wrapper">
    <div class="welcome-card">
      <img src="/logo aplicacao.png" alt="Logo QTL Finanças" class="welcome-logo">
      <h1 class="welcome-title">Bem-vindo ao QTL Finanças</h1>
      <p class="welcome-subtitle">A maneira mais simples de controlar suas finanças.</p>
      <div class="welcome-buttons">
        <button 
          (click)="navigateToRegister()" 
          class="welcome-button-register">
          Cadastrar
        </button>
        <button 
          (click)="navigateToLogin()" 
          class="welcome-button-login">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
